In [1]:
text1 = "Temporary string added to perform string operations with python"
len(text1)

63

In [2]:
text2 = text1.split(' ')

len(text2)

9

In [3]:
text2

['Temporary',
 'string',
 'added',
 'to',
 'perform',
 'string',
 'operations',
 'with',
 'python']

In [4]:
[w for w in text2 if len(w) > 3]

['Temporary',
 'string',
 'added',
 'perform',
 'string',
 'operations',
 'with',
 'python']

In [5]:
[w for w in text2 if w.istitle()]

['Temporary']

In [6]:
[w for w in text2 if w.endswith('s')]

['operations']

In [7]:
text3 = 'To be or not to be'
text4 = text3.split(' ')

len(text4)

6

In [8]:
len(set(text4))

5

In [9]:
set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [10]:
len(set([w.lower() for w in text4]))

4

In [11]:
set([w.lower() for w in text4])

{'be', 'not', 'or', 'to'}

In [12]:
text5 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text6 = text5.split(' ')

text6

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

In [13]:
[w for w in text6 if w.startswith('#')]

['#UNSG']

In [14]:
[w for w in text6 if w.startswith('@')]

['@']

In [15]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text8 = text7.split(' ')

In [16]:
import re

[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

In [17]:
def generate_ngrams(text, n):
    words = text.split()
    output = []  
    for i in range(len(words)-n+1):
        output.append(words[i:i+n])
    return output

text = 'it was the best of times it was the worst of times. it was the age of wisdom it was the age of foolishness'

print('Choose value of "n" to obtain different n-grams (n=2, gives bi-gram, n = 3 gives tri-gram and so on..)\n')

n = 2
print(generate_ngrams(text, n))

Choose value of "n" to obtain different n-grams (n=2, gives bi-gram, n = 3 gives tri-gram and so on..)

[['it', 'was'], ['was', 'the'], ['the', 'best'], ['best', 'of'], ['of', 'times'], ['times', 'it'], ['it', 'was'], ['was', 'the'], ['the', 'worst'], ['worst', 'of'], ['of', 'times.'], ['times.', 'it'], ['it', 'was'], ['was', 'the'], ['the', 'age'], ['age', 'of'], ['of', 'wisdom'], ['wisdom', 'it'], ['it', 'was'], ['was', 'the'], ['the', 'age'], ['age', 'of'], ['of', 'foolishness']]

In [18]:
import string
mess = 'Sample message! Notice: it has punctuation.'

nopunc = [char for char in mess if char not in string.punctuation]

nopunc = ''.join(nopunc)
nopunc

'Sample message Notice it has punctuation'

In [19]:
import collections
text = 'it was the best of times it was the worst of times. it was the age of wisdom it was the age of foolishness'
cnt = collections.Counter(text.split())
dict(cnt)

{'it': 4,
 'was': 4,
 'the': 4,
 'best': 1,
 'of': 4,
 'times': 1,
 'worst': 1,
 'times.': 1,
 'age': 2,
 'wisdom': 1,
 'foolishness': 1}

In [20]:
import pandas as pd
dict_cnt=dict(cnt)


df_cnt=pd.DataFrame({'Terms':dict_cnt.keys(),'Frequency':dict_cnt.values()})
df_cnt[['Terms','Frequency']]

,Terms,Frequency
0,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"
1,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"
2,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"
3,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"
4,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"
5,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"
6,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"
7,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"
8,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"
9,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"
10,"(it, was, the, best, of, times, worst, times.,...","(4, 4, 4, 1, 4, 1, 1, 1, 2, 1, 1)"